<div class="settings-container">
  <div class="setting-item">
    <label for="data-source-select" class="setting-label">
      Nguồn dữ liệu (Data Source)
    </label>
    <select
      id="data-source-select"
      class="setting-select"
      [value]="settingsService.dataSource()"
      (change)="onDataSourceChange($event)"
    >
      @for (option of settingsService.dataSourceOptions; track option.value) {
        <option [value]="option.value">
          {{ option.label }}
        </option>
      }
    </select>
  </div>
</div>
